openapi: 3.2.0
info:
  title: Inbox 2.0 API Reference Rest API Authentication API
  description: Inbox 2.0 API Reference
  version: v1
  x-logo:
    url: static/hootsuite-logo.png
  contact:
    email: dev.support@hootsuite.com
  license:
    name: Hootsuite Developer Terms and API License Agreement
    url: https://hootsuite.com/legal/dev-api-terms
servers:
- url: https://platform.hootsuite.com
  description: Inbox 2.0 production server
security:
- bearer-token: []
tags:
- name: rest-api-authentication
  x-displayName: REST API authentication
  description: Follow the steps below to make an authenticated API request.
paths:
  /oauth2/token:
    post:
      tags:
      - rest-api-authentication
      summary: OAuth2 Token
      operationId: oauthToken
      description: 'OAuth2 Token endpoint.


        This endpoint requires that you pass in your client credentials using the HTTP Basic authentication scheme as outlined in the spec.

        Including your client credentials in the request-body is not supported.'
      parameters:
      - name: Authorization
        in: header
        description: A base64-encoded client_id:client_secret string used for authentication.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - grant_type
              - organization_id
              properties:
                grant_type:
                  type: string
                  description: The OAuth2 grant_type used. Must be set to *organization_app*.
                  enum:
                  - organization_app
                organization_id:
                  type: string
                  description: The id of your organization. The organization must be linked to your app.
              example:
                grant_type: organization_app
                organization_id: 900002
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/OAuth2BearerToken'
        '401':
          description: Unauthorized
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/OAuthError'
      security:
      - basic-auth: []
components:
  schemas:
    OAuth2BearerToken:
      type: object
      properties:
        access_token:
          type: string
          description: 'The token used to authorize requests. This should be added to requests as an authorization header: `Authorization: Bearer oZy8FDUHEiZ0mh0j4rUwOT9t5yHouTzBDsn-x_GROB0.rz-pMQzh-1F6VIGwnJZMBwH3SRwDfEHE4CRi-AClpcg`

            '
          example: oZy8FDUHEiZ0mh0j4rUwOT9t5yHouTzBDsn-x_GROB0.rz-pMQzh-1F6VIGwnJZMBwH3SRwDfEHE4CRi-AClpcg
        token_Type:
          type: string
          description: The token type to be used in the authorization header. This will always be *bearer* for client credentials grant.
          example: bearer
        expires_in:
          type: number
          description: The number of seconds until the token expires (1 hour)
          example: 3599
    OAuthError:
      type: object
      properties:
        error:
          type: string
          description: An error code indicating the type of error that occurred. Should be used in conjunction with HTTP status.
          enum:
          - request_unauthorized
          - request_forbidden
          - invalid_request
          - unauthorized_client
          - access_denied
          - unsupported_response_type
          - invalid_scope
          - server_error
          - temporarily_unavailable
          - unsupported_grant_type
          - invalid_grant
          - invalid_client
          - unknown_error
          - not_found
          - invalid_state
          - misconfiguration
          - insufficient_entropy
          - invalid_token
          - token_signature_mismatch
          - token_expired
          - scope_not_granted
          - token_claim
          - token_inactive
        error_description:
          type: string
          description: A description of error.
          example: An error message
        error_hint:
          type: string
          description: A helpful hint about the error.
          example: Make sure that the various parameters are correct, be aware of case sensitivity and trim your parameters.
        status_code:
          type: number
          description: The status code
          example: 401
  securitySchemes:
    bearer-token:
      type: http
      scheme: bearer
    basic-auth:
      type: http
      scheme: basic
    Oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: TO_BE_CONFIGURED_IN_INBOX_2_0
          scopes:
            some_scope: TO_BE_CONFIGURED_IN_INBOX_2_0
    SharedSecret:
      type: apiKey
      in: header
      name: X-Hootsuite-Signature
x-tagGroups:
- name: General
  tags:
  - rest-api-authentication
- name: CRM API
  tags:
  - crm_introduction
  - crm_webhooks
  - crm_rest_api
- name: Virtual Agent API
  tags:
  - vai_introduction
  - vai_webhooks
  - vai_rest_api
- name: Real-time metrics API
  tags:
  - real_time_metrics_introduction
  - real_time_metrics_rest_api
- name: User Presence API
  tags:
  - user_presence_introduction
  - user_presence_rest_api
- name: Queue API
  tags:
  - queue_introduction
  - queue_rest_api
- name: Proactive messaging API
  tags:
  - proactive_messaging_introduction
  - proactive_messaging_rest_api
- name: Messenger SDK
  tags:
  - messenger_introduction
  - messenger_web_sdk
