openapi: 3.2.0
info:
  title: Hootsuite Me API
  version: '1.0'
  license:
    name: Hootsuite Developer Terms and API License Agreement
    url: https://hootsuite.com/legal/dev-api-terms
  description: 'Operations tagged me across 2 of this provider''s published API definitions: hootsuite-amplify-api-openapi.yml, hootsuite-rest-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://platform.hootsuite.com/amplify/v1
- url: https://platform.hootsuite.com
tags:
- description: Operations that you can do related with your authenticated member
  name: me
paths:
  /me/:
    get:
      operationId: get_me
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          type: string
          format: mask
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponse'
      summary: Gets the member information
      tags:
      - me
    servers:
    - url: https://platform.hootsuite.com/amplify/v1
  /me/messages:
    post:
      operationId: post_messages
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          type: string
          format: mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessagePostData'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
      summary: Create message using the authenticated member
      tags:
      - me
    servers:
    - url: https://platform.hootsuite.com/amplify/v1
  /me/organizations:
    get:
      operationId: get_my_organizations
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          type: string
          format: mask
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgListModel'
      summary: Retrieve authenticated members's organizations
      tags:
      - me
    servers:
    - url: https://platform.hootsuite.com/amplify/v1
  /me/topics:
    get:
      operationId: get_topics
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          type: string
          format: mask
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicListModel'
      summary: Retrieve authenticated members's topics
      tags:
      - me
    post:
      operationId: post_topics
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          type: string
          format: mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopicPostBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicModel'
      summary: Creates a new topic on the member's organization
      tags:
      - me
    servers:
    - url: https://platform.hootsuite.com/amplify/v1
  /me/utms/deobfuscate:
    post:
      description: 'It is important to note that multiple obfuscated member IDs

        can point to a single member ID.'
      operationId: post_utms
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          type: string
          format: mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeobfuscatePostBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionModel'
      summary: Converts obfuscated member IDs back into member IDs
      tags:
      - me
    servers:
    - url: https://platform.hootsuite.com/amplify/v1
  /v1/me:
    get:
      tags:
      - me
      operationId: retrieveMe
      summary: Retrieve authenticated member
      description: Retrieves authenticated member.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/MemberResponseEnvelope'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
      security:
      - OAuth2: []
    servers:
    - url: https://platform.hootsuite.com
  /v1/me/organizations:
    get:
      tags:
      - me
      operationId: retrieveMeOrganizations
      summary: Retrieve authenticated member's organizations
      description: Retrieves the organizations that the authenticated member is in.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/MeOrganizationsResponseEnvelope'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
      security:
      - OAuth2: []
    servers:
    - url: https://platform.hootsuite.com
  /v1/me/socialProfiles:
    get:
      tags:
      - me
      operationId: getMySocialProfiles
      summary: Retrieve authenticated member's social profiles
      description: Retrieves the social media profiles that the authenticated user has BASIC_USAGE permissions on.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/OrganizationMemberSocialProfilesResponseEnvelope'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
      security:
      - OAuth2: []
    servers:
    - url: https://platform.hootsuite.com
  /v1/me/adAccounts:
    get:
      tags:
      - me
      operationId: getMyAdAccounts
      summary: Retrieve authenticated member's ad accounts
      description: Retrieves the ad accounts that the authenticated user has permissions on.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: organization_id
        in: query
        description: The Organization ID
        required: true
        example: 15240789
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/AdAccounts'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
      security:
      - OAuth2: []
    servers:
    - url: https://platform.hootsuite.com
components:
  schemas:
    TikTokPrivacySettings:
      properties:
        allowComments:
          default: true
          description: Whether comments are allowed for TikTok posts
          example: true
          type: boolean
        allowDuet:
          default: true
          description: Whether duets are allowed for TikTok posts
          example: true
          type: boolean
        allowStitch:
          default: true
          description: Whether stitching is allowed for TikTok posts
          example: true
          type: boolean
      type: object
    TopicPostBody:
      properties:
        name:
          description: Name of the topic
          example: sports
          type: string
        privacy:
          description: Privacy of the topic
          enum:
          - opened
          - closed
          example: opened
          type: string
      type: object
    MessagePostData:
      allOf:
      - $ref: '#/components/schemas/MessageCore'
      - properties:
          isEditable:
            default: false
            description: Should this message be editable?
            example: false
            type: boolean
          isNativeShareEnabled:
            default: false
            description: Should native share be allowed for the posts in this org?
            example: false
            type: boolean
          isPublished:
            default: false
            description: Has this message been published?
            example: false
            type: boolean
          isSuggested:
            default: false
            description: Whether a message is a suggestion. Message will default to a draft post
            example: false
            type: boolean
          photoUriBase64:
            description: Base 64 image URL
            example: data:image/gif;base64,R0lGODlhEAAQAM...
            type: string
          srcNetwork:
            default: ''
            description: Network where we are posting this message from
            type: string
          srcUser:
            default: ''
            description: When the message has been shared by Twitter or Facebook, this field will contain the original user that shared the post
            example: twitter_techie
            type: string
          suggestionReason:
            default: ''
            description: Reason why this message was suggested
            type: string
        type: object
    TopicListModel:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Topic'
          type: array
      type: object
    Attachment:
      properties:
        mimeType:
          example: image/jpeg
          type: string
        thumbnailUrl:
          example: https://somethumbnail.jpeg
          type: string
        url:
          example: https://somethumbnail.jpeg
          type: string
      type: object
    Topic:
      properties:
        count:
          description: Messages tagged with this topic
          example: 0
          type: integer
        lastActivityDate:
          description: Last time a message was tagged with this topic
          example: 2017-10-23 16:42:23.141000+00:00
          format: date-time
          type: string
        name:
          description: Name of the topic
          example: sports
          type: string
        privacy:
          default: opened
          description: Privacy of the topic
          enum:
          - opened
          - closed
          example: opened
          type: string
      type: object
    PrivacySettings:
      properties:
        tiktokbusiness:
          allOf:
          - $ref: '#/components/schemas/TikTokPrivacySettings'
          description: TikTok-specific privacy settings
      type: object
    MessageResponse:
      properties:
        data:
          $ref: '#/components/schemas/Message'
      type: object
    enabledNetworks:
      properties:
        facebook:
          example: true
          type: boolean
        facebookpage:
          example: true
          type: boolean
        hootsuite:
          example: true
          type: boolean
        instagram:
          example: false
          type: boolean
        linkedin:
          example: true
          type: boolean
        tiktokbusiness:
          example: true
          type: boolean
        twitter:
          example: true
          type: boolean
      type: object
    ObfuscationsToMemberIDs:
      properties:
        memberID:
          description: Employee memberID
          example: '123456'
          type: string
        obfuscatedID:
          description: Obfuscated memberID
          example: ABCDEF
          type: string
      type: object
    TopicModel:
      properties:
        data:
          $ref: '#/components/schemas/Topic'
      type: object
    MemberResponse:
      properties:
        data:
          $ref: '#/components/schemas/Member'
      type: object
    ShareableNetworks:
      properties:
        facebook:
          example: true
          type: boolean
        facebookpage:
          example: true
          type: boolean
        instagram:
          example: false
          type: boolean
        linkedin:
          example: true
          type: boolean
        tiktokbusiness:
          example: true
          type: boolean
        twitter:
          example: true
          type: boolean
      type: object
    OrgListModel:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Organization'
          type: array
      type: object
    MessageCore:
      properties:
        expiryDate:
          description: The date message expired (if any)
          example: 2017-10-23 16:42:23.141000+00:00
          format: date-time
          type: string
        isPinned:
          default: false
          description: Whether the message is featured (shown at the top) on Amplify or not
          example: false
          type: boolean
        isShareable:
          default: true
          description: Returns false for announcements, and true for everything else
          example: true
          type: boolean
        owlyPhotoAttachment:
          allOf:
          - $ref: '#/components/schemas/Attachment'
          description: Original high quality image of the message (suggested to use whenever posting message to social networks)
        pdfAttachment:
          type: object
        photoUrl:
          description: URL of the photo shared in the message
          example: https://one-photo.jpeg
          type: string
        privacySettings:
          allOf:
          - $ref: '#/components/schemas/PrivacySettings'
          description: Privacy settings for different social networks
        publishedDate:
          description: The date message was published (made visible to all Amplify users)
          example: 2017-10-16 16:42:23.141000+00:00
          format: date-time
          type: string
        shareableNetworks:
          allOf:
          - $ref: '#/components/schemas/ShareableNetworks'
          description: Map of social networks and whether or not the message can be shared in them
        text:
          description: Entire message text
          example: 5 tips to accelerate your career in a hyper-growth company
          type: string
        topics:
          description: List of all topics message is tagged with
          example:
          - HootsuiteLife
          - Career
          items:
            type: string
          type: array
        videoAttachment:
          type: object
      type: object
    Message:
      allOf:
      - $ref: '#/components/schemas/MessageCore'
      - properties:
          content:
            description: Detailed message content structure including organic and amplify properties
            type: object
          createdDate:
            description: Date of creation
            example: 2017-10-16 16:42:23.141000+00:00
            format: date-time
            type: string
          id:
            description: Unique identifier for the message
            example: 59d6df3c6bc0160ba6e15f73
            type: string
          isDeleted:
            description: It tells if this message is considered deleted or not
            example: false
            type: boolean
          isReshareable:
            description: Whether the message is retweetable on Twitter or reshareable on Facebook
            example: false
            type: boolean
          isReshareableWithThoughts:
            description: Whether the message is allowed to be reshared with added comment
            example: false
            type: boolean
          raw_message:
            type: object
          url:
            description: Link shared in the message
            example: http://ow.ly/fjzz30fU6EK
            type: string
        type: object
    ConversionModel:
      properties:
        data:
          items:
            $ref: '#/components/schemas/ObfuscationsToMemberIDs'
          type: array
      type: object
    DeobfuscatePostBody:
      properties:
        ids:
          description: Obfuscated memberIDs (max 500 per request)
          example: '[ "ABCDEF", "DEFGHI", "GHIJKL"]'
          items:
            type: string
          type: array
      type: object
    Member:
      properties:
        email:
          example: john.doe@hootsuite.com
          type: string
        name:
          description: Member's name
          example: John Doe
          type: string
        roles:
          description: Member's roles
          example:
          - subscriber
          - content_admin
          items:
            type: string
          type: array
      type: object
    Organization:
      properties:
        enabledNetworks:
          $ref: '#/components/schemas/enabledNetworks'
        hootId:
          description: Hootsuite organization ID
          example: 123456
          type: integer
        id:
          description: ID of the organization
          example: 59d6df3c6bc0160ba6e15f73
          type: string
        name:
          description: Name of the organization
          example: Hootsuite Inc.
          type: string
      type: object
    MemberSocialProfiles:
      type: object
      properties:
        id:
          type: string
          description: The social profile ID.
          example: '115185509'
    AdAccounts:
      type: object
      properties:
        ad_accounts:
          type: array
          items:
            $ref: '#/components/schemas/AdAccount'
    MemberResponseEnvelope:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Member_2'
    MeOrganization:
      type: object
      properties:
        id:
          type: string
          description: The organization ID
          example: '626731'
        name:
          type: string
          description: The organization display name
          example: Test Organization
        logoUrl:
          type: string
          description: URL of the organization logo
          example: https://assets.hootsuite.com/avatars_production/organization/12345_owl.gif
    Error:
      type: object
      properties:
        code:
          type: number
          description: An error code indicating the type of error that occurred.
          example: 1234
        message:
          type: string
          description: A description of error.
          example: An error message
        id:
          type: string
          description: A unique error id for tracing purposes
          example: f7d32670-4e6a-48c0-a2a7-87803536a712
        resource:
          type: object
          description: A reference to the resource in error
          title: ResourceReference
          properties:
            type:
              type: string
              description: The resource type.
              example: socialProfile
            id:
              type: string
              description: The resource ID.
              example: '7534653235'
    AdAccount:
      type: object
      properties:
        ad_account_id:
          type: string
          description: Hootsuite internal ad account Id
        social_network:
          $ref: '#/components/schemas/adAccountsSocialNetwork'
        external_id:
          description: Id of the social network
          type: string
        name:
          description: ad account name
          type: string
        status:
          type: integer
          format: int32
          description: Network-dependent account status. Meta, raw account_status integer. Twitter, 1 (usable) or -1 (not usable).
        currency_code:
          type: string
          description: currency code for the ad account
        timezone:
          type: string
          description: time zone for the ad account
        business_id:
          type: string
          description: Owning business ID on the social network (e.g. Meta Business Manager ID). Empty when not provided.
        can_access_api:
          type: boolean
          description: true if the account can be used for ads API operations (status == 1).
        social_profile_id:
          type: string
          description: hootsuite social profile Id that is usable with the ad account
        social_profile_token_status:
          type: integer
          format: int64
          description: hootsuite social profile token status
        has_payment_method:
          type: boolean
          description: ad account has payment method
        extended_info:
          type: object
          title: Optional. SocialNetwork dependent additional account information
        native_status:
          $ref: '#/components/schemas/adAccountsNativeStatus'
    adAccountsNativeStatus:
      type: string
      enum:
      - STATUS_UNKNOWN
      - FB_STATUS_ACTIVE
      - FB_STATUS_DISABLED
      - FB_STATUS_UNSETTLED
      - FB_STATUS_PENDING_RISK_REVIEW
      - FB_STATUS_PENDING_SETTLEMENT
      - FB_STATUS_IN_GRACE_PERIOD
      - FB_STATUS_PENDING_CLOSURE
      - FB_STATUS_CLOSED
      - FB_STATUS_ANY_ACTIVE
      - FB_STATUS_ANY_CLOSED
      - TW_STATUS_ACCEPTED
      - TW_STATUS_REJECTED
      - TW_STATUS_UNDER_REVIEW
      default: STATUS_UNKNOWN
    OrganizationMemberSocialProfilesResponseEnvelope:
      type: object
      properties:
        data:
          type: array
          description: The data response envelope.
          items:
            $ref: '#/components/schemas/MemberSocialProfiles'
    MeOrganizationsResponseEnvelope:
      type: object
      properties:
        data:
          type: array
          description: The data response envelope.
          items:
            $ref: '#/components/schemas/MeOrganization'
    Member_2:
      type: object
      required:
      - email
      - fullName
      properties:
        id:
          type: string
          description: The member ID.
          example: '15240789'
        email:
          type: string
          description: The member’s email.
          example: jsmith@test.com
        isActive:
          type: boolean
          description: A flag indicating if the member is active.
          example: true
        createdDate:
          type: string
          description: The date the member's account was created.
          example: 2013-05-29 13:27:24+00:00
        modifiedDate:
          type: string
          description: The date the member's account was last modified.
          example: 2013-05-29 13:27:24+00:00
        fullName:
          type: string
          description: The member’s name.
          example: Joe Smith
        companyName:
          type: string
          description: The member’s company name.
          example: Hootsuite
        bio:
          type: string
          description: The member’s bio.
          example: I am Joe Smith
        timezone:
          type: string
          description: The member’s time zone. Valid values are defined at http://php.net/manual/en/timezones.php.
          example: America/Vancouver
        language:
          type: string
          description: The member’s language.
          example: en
          enum:
          - en
          - ja
          - fr
          - it
          - es
          - de
          - pt_BR
          - pl
          - id
          - zh_CN
          - zh_HK
          - zh_TW
          - nl
          - ko
          - ar
          - ru
          - th
          - tr
    ErrorsResponseEnvelope:
      type: object
      properties:
        errors:
          type: array
          description: The errors response envelope.
          items:
            $ref: '#/components/schemas/Error'
    adAccountsSocialNetwork:
      type: string
      enum:
      - UNKNOWN
      - FACEBOOK
      - TWITTER
      default: UNKNOWN
  parameters:
    bearerToken:
      in: header
      name: Authorization
      description: A bearer token string used for authentication
      required: true
      schema:
        type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.hootsuite.com/oauth2/auth
          tokenUrl: https://platform.hootsuite.com/oauth2/token
          scopes:
            offline: Request refresh tokens
            analytics:read: Request analytics API access
    Basic_Auth:
      type: http
      scheme: basic
x-refined-from:
- hootsuite-amplify-api-openapi.yml
- hootsuite-rest-api-openapi.yml
x-provenance:
  generated: '2026-08-13'
  method: searched
  source: https://amplify.hootsuite.com/api-docs/static/swagger.json
  note: First-party Hootsuite Amplify (employee advocacy) REST API contract. Discovered from the ReDoc loader at https://amplify.hootsuite.com/api-docs (spec-url /api-docs/static/swagger.json), which is the API linked from https://developer.hootsuite.com/docs/api-overview. Published as Swagger 2.0; converted to OpenAPI 3.0 with swagger2openapi 7 for this working copy. The verbatim Swagger 2.0 source is kept at openapi/_original/hootsuite-amplify-api-swagger.json.
  ownership: host platform.hootsuite.com/amplify, info.title "Hootsuite Amplify REST API", contact amplify.devs@hootsuite.com / https://hootsuite.com/products/amplify - Hootsuite's own product served from a hootsuite.com subdomain.
x-tagGroups:
- name: API Reference
  tags:
  - me
