openapi: 3.2.0
info:
  description: '![Run in Postman](https://app.getpostman.com/run-collection/eeda0fcdf55ea26bd0ec#?env%5BHootsuite%5D=W3sidHlwZSI6InRleHQiLCJlbmFibGVkIjp0cnVlLCJrZXkiOiJ1cmwiLCJ2YWx1ZSI6Imh0dHBzOi8vcGxhdGZvcm0uaG9vdHN1aXRlLmNvbSJ9LHsidHlwZSI6InRleHQiLCJlbmFibGVkIjp0cnVlLCJrZXkiOiJhdXRob3JpemF0aW9uX3VybCIsInZhbHVlIjoiaHR0cHM6Ly9wbGF0Zm9ybS5ob290c3VpdGUuY29tL29hdXRoMi9hdXRoIn0seyJ0eXBlIjoidGV4dCIsImVuYWJsZWQiOnRydWUsImtleSI6InRva2VuX3VybCIsInZhbHVlIjoiaHR0cHM6Ly9wbGF0Zm9ybS5ob290c3VpdGUuY29tL29hdXRoMi90b2tlbiJ9LHs…'
  version: '1.0'
  title: Hootsuite REST SCIM 2.0 API
  contact:
    email: dev.support@hootsuite.com
  license:
    name: Hootsuite Developer Terms and API License Agreement
    url: https://hootsuite.com/legal/dev-api-terms
servers:
- url: https://platform.hootsuite.com
security:
- OAuth2: []
tags:
- name: SCIM 2.0
paths:
  /scim/v2/Users:
    post:
      tags:
      - SCIM 2.0
      operationId: createScimUser
      summary: Create User
      description: Creates a Hootsuite user using the SCIM 2.0 protocol.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      requestBody:
        $ref: '#/components/requestBodies/CreateReplaceScimUser'
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ScimUser'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ScimErrorResponse'
    get:
      tags:
      - SCIM 2.0
      operationId: getScimUsers
      summary: Get Users
      description: Retrieves Hootsuite users using the SCIM 2.0 protocol. Support equals filtering on username.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: filter
        in: query
        description: Filtering by username.
        required: false
        schema:
          type: string
      - name: count
        in: query
        description: The maximum number of results to return.
        required: false
        schema:
          type: number
      - name: startIndex
        in: query
        description: The starting index for pagination.
        required: false
        schema:
          type: number
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ScimUsers'
  /scim/v2/Users/{memberId}:
    get:
      tags:
      - SCIM 2.0
      operationId: getScimUser
      summary: Get User
      description: Retrieves a Hootsuite user using the SCIM 2.0 protocol.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: memberId
        in: path
        description: The Member ID
        required: true
        example: 15240789
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ScimUser'
    put:
      tags:
      - SCIM 2.0
      operationId: replaceScimUser
      summary: Replace User
      description: Updates a Hootsuite user using the SCIM 2.0 protocol. To see the JSON object attributes required by the PUT endpoint, call the /Schemas endpoint. For a complete example request, see the SCIM specification
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: memberId
        in: path
        description: The Member ID
        required: true
        example: 15240789
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/CreateReplaceScimUser'
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ScimUser'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ScimErrorResponse'
    patch:
      tags:
      - SCIM 2.0
      operationId: modifyScimUser
      summary: Modify User
      description: Modify one or more attributes of a Hootsuite user. For a complete example request, see the SCIM specification.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: memberId
        in: path
        description: The member ID
        required: true
        example: 1234567
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/ScimPatchUser'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ScimUser'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ScimErrorResponse'
  /scim/v2/Groups:
    post:
      tags:
      - SCIM 2.0
      operationId: createScimGroup
      summary: Create Group
      description: Creates a Hootsuite team using the SCIM 2.0 protocol.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      requestBody:
        $ref: '#/components/requestBodies/CreateReplaceScimGroup'
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ScimGroup'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ScimErrorResponse'
    get:
      tags:
      - SCIM 2.0
      operationId: getScimGroups
      summary: Get Groups
      description: Retrieves Hootsuite teams using the SCIM 2.0 protocol. Support equals filtering on displayName.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: filter
        in: query
        description: Filtering by displayName.
        required: false
        schema:
          type: string
      - name: count
        in: query
        description: The maximum number of results to return.
        required: false
        schema:
          type: number
      - name: startIndex
        in: query
        description: The starting index for pagination.
        required: false
        schema:
          type: number
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ScimGroups'
  /scim/v2/Groups/{groupId}:
    get:
      tags:
      - SCIM 2.0
      operationId: getScimGroup
      summary: Get Group
      description: Retrieves a Hootsuite team using the SCIM 2.0 protocol.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: teamId
        in: path
        description: The team Id
        required: true
        example: 15240789
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ScimGroup'
    put:
      tags:
      - SCIM 2.0
      operationId: replaceScimGroup
      summary: Replace Group
      description: Updates a Hootsuite team using the SCIM 2.0 protocol. For a complete example request, see the SCIM specification
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: teamId
        in: path
        description: The Team ID
        required: true
        example: 15240789
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/CreateReplaceScimGroup'
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ScimGroup'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ScimErrorResponse'
    patch:
      tags:
      - SCIM 2.0
      operationId: modifyScimGroup
      summary: Modify Group
      description: Modify one or more attributes of a Hootsuite team. For a complete example request, see the SCIM specification.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: teamId
        in: path
        description: The team Id
        required: true
        example: 1234567
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/ScimPatchGroup'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ScimGroup'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ScimErrorResponse'
  /scim/v2/ResourceTypes:
    get:
      tags:
      - SCIM 2.0
      operationId: getScimResourceTypes
      summary: Get Resource Types
      description: Retrieves the configuration for all supported SCIM resource types
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ScimResourceTypes'
components:
  schemas:
    ScimResourceTypes:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
            example: urn:ietf:params:scim:api:messages:2.0:ListResponse
        Resources:
          type: array
          items:
            $ref: '#/components/schemas/ScimResourceInfo'
    ScimResourceInfo:
      type: object
      properties:
        name:
          type: string
          example: User
        schemaExtensions:
          type: array
          items:
            type: object
            properties:
              schema:
                type: string
                example: urn:ietf:params:scim:schemas:core:2.0:User
              required:
                type: boolean
                example: true
        description:
          type: string
          example: User Account
        id:
          type: string
          example: User
        meta:
          type: object
          properties:
            resourceType:
              type: string
              example: ResourceType
            location:
              type: string
              example: /scim/v2/ResourceTypes/User
        schema:
          type: string
          example: urn:ietf:params:scim:schemas:core:2.0:User
        endpoint:
          type: string
          example: /scim/v2/Users
        schemas:
          type: array
          items:
            type: string
            example: urn:ietf:params:scim:schemas:core:2.0:ResourceType
    ScimUser:
      type: object
      properties:
        schemas:
          $ref: '#/components/schemas/ScimSchemas'
        id:
          type: string
          description: ''
          example: '3918310'
        meta:
          type: object
          description: ''
          properties:
            resourceType:
              type: string
              description: ''
              example: User
            created:
              type: string
              description: ''
              example: 2012-05-07 15:36:18+00:00
            lastModified:
              type: string
              description: ''
              example: 2015-04-21 21:25:40+00:00
        userName:
          type: string
          description: ''
          example: joe.smith@hootsuite.com
        name:
          type: object
          description: ''
          properties:
            givenName:
              type: string
              description: ''
              example: joe.smith
            familyName:
              type: string
              description: ''
              example: joe.smith
        emails:
          type: array
          description: ''
          items:
            type: object
            description: ''
            properties:
              primary:
                type: boolean
                description: ''
                example: true
              value:
                type: string
                description: ''
                example: joe.smith@hootsuite.com
              type:
                type: string
                description: ''
                example: work
        displayName:
          type: string
          description: ''
          example: Joe Smith
        timezone:
          type: string
          description: The user's time zone. If not provided it will default to "America/Vancouver". Valid values are defined at http://php.net/manual/en/timezones.php.
          example: America/Vancouver
        preferredLanguage:
          type: string
          description: The user's language.
          example: en
          enum:
          - en
          - ja
          - fr
          - it
          - es
          - de
          - pt_BR
          - pl
          - id
          - zh_CN
          - zh_HK
          - zh_TW
          - nl
          - ko
          - ar
          - ru
          - th
          - tr
        title:
          type: string
          description: ''
          example: Manager
        groups:
          type: array
          description: ''
          items:
            type: object
        active:
          type: boolean
          description: ''
          example: true
    ScimPatchUserOperation:
      type: object
      properties:
        op:
          type: string
          description: 'The operation to perform: can be `add`, `replace` or `remove`'
          example: replace
        path:
          type: string
          description: Contains an attribute path describing the target of the operation. OPTIONAL for `add` and `replace`
          example: emails[type eq "work"]
        value:
          type: object
          example: new_value
          description: New value if add/replace, or name of target for remove
          anyOf:
          - $ref: '#/components/schemas/AnyValue'
    ScimPatchUser:
      type: object
      properties:
        schemas:
          type: array
          description: Must contain the URI value of "urn:ietf:params:scim:api:messages:2.0:PatchOp"
          items:
            type: string
            example: urn:ietf:params:scim:api:messages:2.0:PatchOp
        Operations:
          type: array
          items:
            $ref: '#/components/schemas/ScimPatchUserOperation'
    ScimPatchGroupOperation:
      type: object
      properties:
        op:
          type: string
          description: 'The operation to perform: can be `add`, `replace` or `remove`'
          example: replace
        value:
          type: object
          example: new_value
          description: New value to set for attribute
          anyOf:
          - $ref: '#/components/schemas/AnyValue'
    MemberRef:
      type: object
      properties:
        value:
          type: string
          description: ''
          example: '235836528356'
        $ref:
          type: string
          description: ''
          example: https://platform.hootsuite.com/scim/v2/users/21790633
        display:
          type: string
          description: ''
          example: John Doe
    ScimGroup:
      type: object
      properties:
        schemas:
          $ref: '#/components/schemas/ScimSchemas'
        id:
          type: string
          description: ''
          example: '3918310'
        meta:
          type: object
          description: ''
          properties:
            resourceType:
              type: string
              description: ''
              example: Group
            created:
              type: string
              description: ''
              example: 2012-05-07 15:36:18+00:00
            lastModified:
              type: string
              description: ''
              example: 2015-04-21 21:25:40+00:00
            location:
              type: string
              description: ''
              example: https://platform.hootsuite.com/scim/v2/groups/627221
        displayName:
          type: string
          description: ''
          example: team 1
        members:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/MemberRef'
    ScimPatchGroup:
      type: object
      properties:
        schemas:
          type: array
          description: Must contain the URI value of "urn:ietf:params:scim:api:messages:2.0:PatchOp"
          items:
            type: string
            example: urn:ietf:params:scim:api:messages:2.0:PatchOp
        Operations:
          type: array
          items:
            $ref: '#/components/schemas/ScimPatchGroupOperation'
    ScimErrorResponse:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
            example: urn:ietf:params:scim:api:messages:2.0:Error
        status:
          type: string
          example: '400'
        detail:
          type: string
          example: A required value was missing, or the value specified was not compatible with the operation or attribute type.
        scimType:
          type: string
          description: (optional) The SCIM error type
          example: invalidValue
          enum:
          - invalidSyntax
          - mutability
          - invalidValue
          - uniqueness
    CreateReplaceScimUser:
      type: object
      required:
      - displayName
      - userName
      - active
      properties:
        schemas:
          $ref: '#/components/schemas/ScimSchemas'
        userName:
          type: string
          description: ''
          example: joe.smith@hootsuite.com
        name:
          type: object
          description: ''
          properties:
            givenName:
              type: string
              description: ''
              example: joe.smith
            familyName:
              type: string
              description: ''
              example: joe.smith
        emails:
          type: array
          description: ''
          items:
            required:
            - primary
            type: object
            description: ''
            properties:
              primary:
                type: boolean
                description: ''
                example: true
              value:
                type: string
                description: ''
                example: joe.smith@hootsuite.com
              type:
                type: string
                description: ''
                example: work
        displayName:
          type: string
          description: ''
          example: Joe Smith
        timezone:
          type: string
          description: The user's time zone. If not provided it will default to "America/Vancouver". Valid values are defined at http://php.net/manual/en/timezones.php.
          example: America/Vancouver
        preferredLanguage:
          type: string
          description: The user's language.
          example: en
          enum:
          - en
          - ja
          - fr
          - it
          - es
          - de
          - pt_BR
          - pl
          - id
          - zh_CN
          - zh_HK
          - zh_TW
          - nl
          - ko
          - ar
          - ru
          - th
          - tr
        title:
          type: string
          description: ''
          example: Manager
        groups:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/GroupRef'
        active:
          type: boolean
          description: ''
          example: true
    ScimSchemas:
      type: array
      description: Required SCIM schemas
      items:
        type: string
      example:
      - urn:ietf:params:scim:schemas:core:2.0:User
    ScimGroups:
      type: object
      description: ''
      properties:
        Resources:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/ScimGroup'
        totalResults:
          type: number
          description: The total number of groups found
          example: 8
        startIndex:
          type: number
          description: The current offset used for result paging
          example: 1
        itemsPerPage:
          type: number
          description: The page size used for paging
          example: 10
        schemas:
          type: array
          description: ''
          items:
            type: string
            example: urn:ietf:params:scim:api:messages:2.0:ListResponse
    GroupRef:
      type: object
      properties:
        value:
          type: string
          description: ''
          example: '5838356'
        $ref:
          type: string
          description: ''
          example: https://platform.hootsuite.com/scim/v2/groups/663806
        display:
          type: string
          description: ''
          example: Group 1
    ScimUsers:
      type: object
      description: ''
      properties:
        Resources:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/ScimUser'
        totalResults:
          type: number
          description: The total number of users found
          example: 8
        startIndex:
          type: number
          description: The current offset used for result paging
          example: 1
        itemsPerPage:
          type: number
          description: The page size used for paging
          example: 10
        schemas:
          type: array
          description: ''
          items:
            type: string
            example: urn:ietf:params:scim:api:messages:2.0:ListResponse
    CreateReplaceScimGroup:
      type: object
      required:
      - displayName
      - schema
      properties:
        schemas:
          $ref: '#/components/schemas/ScimSchemas'
        displayName:
          type: string
          description: ''
          example: Group 1
        members:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/MemberRef'
    AnyValue: {}
  parameters:
    bearerToken:
      in: header
      name: Authorization
      description: A bearer token string used for authentication
      required: true
      schema:
        type: string
  requestBodies:
    CreateReplaceScimGroup:
      content:
        application/json;charset=utf-8:
          schema:
            $ref: '#/components/schemas/CreateReplaceScimGroup'
      required: true
    CreateReplaceScimUser:
      content:
        application/json;charset=utf-8:
          schema:
            $ref: '#/components/schemas/CreateReplaceScimUser'
      required: true
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.hootsuite.com/oauth2/auth
          tokenUrl: https://platform.hootsuite.com/oauth2/token
          scopes:
            offline: Request refresh tokens
            analytics:read: Request analytics API access
    Basic_Auth:
      type: http
      scheme: basic
x-provenance:
  generated: '2026-08-13'
  method: searched
  source: https://apidocs.hootsuite.com/docs/api/swagger.yaml
  note: First-party Hootsuite REST API contract. Discovered from the ReDoc loader at https://platform.hootsuite.com/docs/api/index.html (spec-url ./swagger.yaml) and confirmed as the canonical service-desc link in Hootsuite's RFC 9727 API catalog at https://www.hootsuite.com/.well-known/api-catalog. Published as Swagger 2.0; converted to OpenAPI 3.0 with swagger2openapi 7 for this working copy. The verbatim Swagger 2.0 source is kept at openapi/_original/hootsuite-rest-api-swagger.yaml.
  ownership: host platform.hootsuite.com, info.title "Hootsuite REST API", contact dev.support@hootsuite.com - the contract identifies itself as Hootsuite's.
