openapi: 3.2.0
info:
  title: Inbox 2.0 API Reference Queue Rest API
  description: Inbox 2.0 API Reference
  version: v1
  x-logo:
    url: static/hootsuite-logo.png
  contact:
    email: dev.support@hootsuite.com
  license:
    name: Hootsuite Developer Terms and API License Agreement
    url: https://hootsuite.com/legal/dev-api-terms
servers:
- url: https://platform.hootsuite.com
  description: Inbox 2.0 production server
security:
- bearer-token: []
tags:
- name: queue_rest_api
  x-displayName: REST API
  description: 'When calling the Queue API, the client needs to be authenticated.


    The [REST API authentication](#tag/rest-api-authentication) section contains more details on how to authenticate your client.

    '
paths:
  /inbox/v1/queue/lock:
    get:
      tags:
      - queue_rest_api
      summary: Conversations locked by an agent
      operationId: lock
      description: 'An overview of conversations with the agent that locked the conversation.

        '
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockResponse'
              example:
                locks:
                - conversationId: 9dee60dc-cbbf-11ec-95ef-8e8b58e7d3d8
                  userId: 57fc9dc2-2b6f-11ec-aed1-66640cff431f
                  lockedAt: '2022-05-14T14:15:33.437Z'
        '401':
          description: 'Unauthorized: when using an invalid or expired access token.

            '
components:
  schemas:
    LockResponse:
      type: object
      properties:
        locks:
          type: array
          items:
            type: object
            properties:
              conversationId:
                type: string
                example: 9dee60dc-cbbf-11ec-95ef-8e8b58e7d3d8
                description: 'The id of the conversation.

                  '
              userId:
                type: string
                example: 57fc9dc2-2b6f-11ec-aed1-66640cff431f
                description: 'The user id of the agent.

                  '
              lockedAt:
                type: string
                description: 'The timestamp since when the agent has locked the conversation.

                  '
                format: date-time
                example: '2022-05-14T14:15:33.437Z'
  securitySchemes:
    bearer-token:
      type: http
      scheme: bearer
    basic-auth:
      type: http
      scheme: basic
    Oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: TO_BE_CONFIGURED_IN_INBOX_2_0
          scopes:
            some_scope: TO_BE_CONFIGURED_IN_INBOX_2_0
    SharedSecret:
      type: apiKey
      in: header
      name: X-Hootsuite-Signature
x-provenance:
  generated: '2026-08-13'
  method: searched
  source: https://apidocs.hootsuite.com/docs/api/inbox/openapi/openapi.yaml
  note: Verbatim first-party OpenAPI 3.1 for the Hootsuite Inbox 2.0 API (formerly Sparkcentral), linked as service-desc for anchor https://platform.hootsuite.com/inbox/v1/ in Hootsuite's RFC 9727 API catalog at https://www.hootsuite.com/.well-known/api-catalog.
  ownership: servers[] https://platform.hootsuite.com, contact dev.support@hootsuite.com, license "Hootsuite Developer Terms and API License Agreement" - Hootsuite's own contract.
x-tagGroups:
- name: General
  tags:
  - rest-api-authentication
- name: CRM API
  tags:
  - crm_introduction
  - crm_webhooks
  - crm_rest_api
- name: Virtual Agent API
  tags:
  - vai_introduction
  - vai_webhooks
  - vai_rest_api
- name: Real-time metrics API
  tags:
  - real_time_metrics_introduction
  - real_time_metrics_rest_api
- name: User Presence API
  tags:
  - user_presence_introduction
  - user_presence_rest_api
- name: Queue API
  tags:
  - queue_introduction
  - queue_rest_api
- name: Proactive messaging API
  tags:
  - proactive_messaging_introduction
  - proactive_messaging_rest_api
- name: Messenger SDK
  tags:
  - messenger_introduction
  - messenger_web_sdk
