openapi: 3.2.0
info:
  description: '![Run in Postman](https://app.getpostman.com/run-collection/eeda0fcdf55ea26bd0ec#?env%5BHootsuite%5D=W3sidHlwZSI6InRleHQiLCJlbmFibGVkIjp0cnVlLCJrZXkiOiJ1cmwiLCJ2YWx1ZSI6Imh0dHBzOi8vcGxhdGZvcm0uaG9vdHN1aXRlLmNvbSJ9LHsidHlwZSI6InRleHQiLCJlbmFibGVkIjp0cnVlLCJrZXkiOiJhdXRob3JpemF0aW9uX3VybCIsInZhbHVlIjoiaHR0cHM6Ly9wbGF0Zm9ybS5ob290c3VpdGUuY29tL29hdXRoMi9hdXRoIn0seyJ0eXBlIjoidGV4dCIsImVuYWJsZWQiOnRydWUsImtleSI6InRva2VuX3VybCIsInZhbHVlIjoiaHR0cHM6Ly9wbGF0Zm9ybS5ob290c3VpdGUuY29tL29hdXRoMi90b2tlbiJ9LHs…'
  version: '1.0'
  title: Hootsuite REST Teams API
  contact:
    email: dev.support@hootsuite.com
  license:
    name: Hootsuite Developer Terms and API License Agreement
    url: https://hootsuite.com/legal/dev-api-terms
servers:
- url: https://platform.hootsuite.com
security:
- OAuth2: []
tags:
- name: Teams
paths:
  /v1/organizations/{organizationId}/teams:
    post:
      tags:
      - Teams
      operationId: createTeam
      summary: Create team
      description: Creates a team in an organization.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: organizationId
        in: path
        description: The Organization ID
        required: true
        example: 626731
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/CreateTeamRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/TeamResponseEnvelope'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
  /v1/organizations/{organizationId}/teams/{teamId}/members/{memberId}:
    post:
      tags:
      - Teams
      operationId: addMemberToTeam
      summary: Add member to team
      description: Adds a member to a team.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: organizationId
        in: path
        description: The Organization ID
        required: true
        example: 626731
        schema:
          type: string
      - name: teamId
        in: path
        description: The Team ID
        required: true
        example: 359493
        schema:
          type: string
      - name: memberId
        in: path
        description: The Member ID
        required: true
        example: 15240789
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/EmptyDataEnvelope'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
  /v1/organizations/{organizationId}/teams/{teamId}/members:
    get:
      tags:
      - Teams
      operationId: getTeamMembers
      summary: Retrieve team members
      description: Retrieves the members in a team.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: organizationId
        in: path
        description: The Organization ID
        required: true
        example: 626731
        schema:
          type: string
      - name: teamId
        in: path
        description: The Team ID
        required: true
        example: 359493
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/TeamMembersResponseEnvelope'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
  /v1/organizations/{organizationId}/teams/{teamId}/members/{memberId}/permissions:
    get:
      tags:
      - Teams
      operationId: retrieveOrganizationMembersTeamPermissions
      summary: Retrieve team member's permissions
      description: Retrieves team member's team permissions.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: organizationId
        in: path
        description: The Organization ID
        required: true
        example: 626731
        schema:
          type: string
      - name: memberId
        in: path
        description: The Member ID
        required: true
        example: 15240789
        schema:
          type: string
      - name: teamId
        in: path
        description: The Team ID
        required: true
        example: 359493
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/OrganizationMemberTeamPermissionsResponseEnvelope'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
  /v1/organizations/{organizationId}/teams/{teamId}/socialProfiles:
    get:
      tags:
      - Teams
      operationId: retrieveOrganizationTeamsSocialProfiles
      summary: Retrieve org team’s social profiles
      description: Retrieves the organization's social profiles that an organization team can access.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: organizationId
        in: path
        description: The Organization ID
        required: true
        example: 626731
        schema:
          type: string
      - name: teamId
        in: path
        description: The Team ID
        required: true
        example: 359493
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/OrganizationTeamSocialProfilesResponseEnvelope'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
  /v1/teams/{teamId}:
    get:
      tags:
      - Teams
      operationId: getTeam
      summary: Retrieve team
      description: Retrieves a team with a given team ID.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: teamId
        in: path
        description: The Team ID
        required: true
        example: 359493
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/TeamResponseEnvelope'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
        '403':
          description: Forbidden (Insufficient permissions to view team)
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
components:
  schemas:
    OrganizationMemberTeamPermissionsResponseEnvelope:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/TeamPermissions'
    Team:
      type: object
      properties:
        id:
          type: string
          description: The team ID.
          example: '359493'
        name:
          type: string
          description: The team name.
          example: North America Support Team
        logoUrl:
          type: string
          description: The team's logo URL.
          example: http://ow.ly/i/logo.png
        createdDate:
          type: string
          description: The date the team was created.
          example: 2016-01-14 16:27:40+00:00
        createdByMember:
          type: object
          description: The member who created the team.
          title: MemberReference
          properties:
            id:
              type: string
              description: The member ID.
              example: '13892119232'
        modifiedDate:
          type: string
          description: The date the team was last modified.
          example: 2016-01-14 16:27:40+00:00
        modifiedByMember:
          type: object
          description: The member who last modified the team.
          title: MemberReference
          properties:
            id:
              type: string
              description: The member ID.
              example: '13892119232'
    TeamSocialProfiles:
      type: object
      properties:
        id:
          type: string
          description: The social profile ID.
          example: '115185509'
    Error:
      type: object
      properties:
        code:
          type: number
          description: An error code indicating the type of error that occurred.
          example: 1234
        message:
          type: string
          description: A description of error.
          example: An error message
        id:
          type: string
          description: A unique error id for tracing purposes
          example: f7d32670-4e6a-48c0-a2a7-87803536a712
        resource:
          type: object
          description: A reference to the resource in error
          title: ResourceReference
          properties:
            type:
              type: string
              description: The resource type.
              example: socialProfile
            id:
              type: string
              description: The resource ID.
              example: '7534653235'
    TeamResponseEnvelope:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Team'
    TeamMember:
      type: object
      properties:
        id:
          type: string
          description: The member ID.
          example: '15240789'
    OrganizationTeamSocialProfilesResponseEnvelope:
      type: object
      properties:
        data:
          type: array
          description: The data response envelope.
          items:
            $ref: '#/components/schemas/TeamSocialProfiles'
    ErrorsResponseEnvelope:
      type: object
      properties:
        errors:
          type: array
          description: The errors response envelope.
          items:
            $ref: '#/components/schemas/Error'
    TeamMembersResponseEnvelope:
      type: object
      properties:
        data:
          type: array
          description: The data response envelope.
          items:
            $ref: '#/components/schemas/TeamMember'
    EmptyDataEnvelope:
      type: object
      properties:
        data:
          description: The data response envelope.
          type: object
    TeamPermissions:
      type: object
      properties:
        permissions:
          type: array
          description: The organization member's team permissions.
          items:
            type: string
            description: The permission.
            example: ORG_MANAGE_TEAM
        permissionPreset:
          type: string
          description: The permission preset.
          example: CUSTOM
    CreateTeamRequest:
      type: object
      required:
      - teamName
      properties:
        teamName:
          type: string
          description: The team name.
          example: North America Support Team
  parameters:
    bearerToken:
      in: header
      name: Authorization
      description: A bearer token string used for authentication
      required: true
      schema:
        type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.hootsuite.com/oauth2/auth
          tokenUrl: https://platform.hootsuite.com/oauth2/token
          scopes:
            offline: Request refresh tokens
            analytics:read: Request analytics API access
    Basic_Auth:
      type: http
      scheme: basic
x-provenance:
  generated: '2026-08-13'
  method: searched
  source: https://apidocs.hootsuite.com/docs/api/swagger.yaml
  note: First-party Hootsuite REST API contract. Discovered from the ReDoc loader at https://platform.hootsuite.com/docs/api/index.html (spec-url ./swagger.yaml) and confirmed as the canonical service-desc link in Hootsuite's RFC 9727 API catalog at https://www.hootsuite.com/.well-known/api-catalog. Published as Swagger 2.0; converted to OpenAPI 3.0 with swagger2openapi 7 for this working copy. The verbatim Swagger 2.0 source is kept at openapi/_original/hootsuite-rest-api-swagger.yaml.
  ownership: host platform.hootsuite.com, info.title "Hootsuite REST API", contact dev.support@hootsuite.com - the contract identifies itself as Hootsuite's.
