openapi: 3.2.0
info:
  description: '![Run in Postman](https://app.getpostman.com/run-collection/eeda0fcdf55ea26bd0ec#?env%5BHootsuite%5D=W3sidHlwZSI6InRleHQiLCJlbmFibGVkIjp0cnVlLCJrZXkiOiJ1cmwiLCJ2YWx1ZSI6Imh0dHBzOi8vcGxhdGZvcm0uaG9vdHN1aXRlLmNvbSJ9LHsidHlwZSI6InRleHQiLCJlbmFibGVkIjp0cnVlLCJrZXkiOiJhdXRob3JpemF0aW9uX3VybCIsInZhbHVlIjoiaHR0cHM6Ly9wbGF0Zm9ybS5ob290c3VpdGUuY29tL29hdXRoMi9hdXRoIn0seyJ0eXBlIjoidGV4dCIsImVuYWJsZWQiOnRydWUsImtleSI6InRva2VuX3VybCIsInZhbHVlIjoiaHR0cHM6Ly9wbGF0Zm9ybS5ob290c3VpdGUuY29tL29hdXRoMi90b2tlbiJ9LHs…'
  version: '1.0'
  title: Hootsuite REST Social Profiles API
  contact:
    email: dev.support@hootsuite.com
  license:
    name: Hootsuite Developer Terms and API License Agreement
    url: https://hootsuite.com/legal/dev-api-terms
servers:
- url: https://platform.hootsuite.com
security:
- OAuth2: []
tags:
- name: Social Profiles
  description: A social profile is a publishing channel on a social network account.
paths:
  /v1/socialProfiles:
    get:
      tags:
      - Social Profiles
      operationId: getSocialProfiles
      summary: Retrieve social profiles
      description: Retrieves the social profiles that the authenticated user has access to.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/SocialProfilesResponseEnvelope'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
  /v1/socialProfiles/{socialProfileId}:
    get:
      tags:
      - Social Profiles
      operationId: getSocialProfile
      summary: Retrieve social profile
      description: Retrieve a social profile. Requires BASIC_USAGE permission on the social profile.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: socialProfileId
        in: path
        description: The social profile ID
        required: true
        example: 115185509
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/SocialProfileResponseEnvelope'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
  /v1/socialProfiles/{socialProfileId}/teams:
    get:
      tags:
      - Social Profiles
      operationId: getSocialProfileTeams
      summary: Retrieve social profile's teams
      description: Retrieves a list of team IDs with access to a social profile. Requires BASIC_USAGE permission on the social profile or ORG_MANAGE_SOCIAL_PROFILE permission on the organization that owns the social profile.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: socialProfileId
        in: path
        description: The social profile ID
        required: true
        example: 115185509
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/SocialProfileTeamsResponseEnvelope'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
        '401':
          description: Unauthorized (Insufficient Permissions to View Profile)
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
        '404':
          description: Not Found
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
components:
  schemas:
    TeamId:
      type: object
      properties:
        id:
          type: string
          description: The team ID.
          example: '1998554224'
    Error:
      type: object
      properties:
        code:
          type: number
          description: An error code indicating the type of error that occurred.
          example: 1234
        message:
          type: string
          description: A description of error.
          example: An error message
        id:
          type: string
          description: A unique error id for tracing purposes
          example: f7d32670-4e6a-48c0-a2a7-87803536a712
        resource:
          type: object
          description: A reference to the resource in error
          title: ResourceReference
          properties:
            type:
              type: string
              description: The resource type.
              example: socialProfile
            id:
              type: string
              description: The resource ID.
              example: '7534653235'
    SocialProfile:
      type: object
      properties:
        id:
          type: string
          description: The social profile ID.
          example: '115185509'
        type:
          type: string
          description: The social network the profile belongs to.
          example: FACEBOOK
          enum:
          - FACEBOOK
          - FACEBOOKPAGE
          - INSTAGRAM
          - INSTAGRAMBUSINESS
          - LINKEDIN
          - LINKEDINCOMPANY
          - PINTEREST
          - THREADS
          - TIKTOKBUSINESS
          - TWITTER
          - WHATSAPP
          - YOUTUBECHANNEL
        socialNetworkId:
          type: string
          description: The ID for user on the social network.
          example: '1261768027866378'
        socialNetworkUsername:
          type: string
          description: The username used on the social network. This field will be **null** if the social network type is *TWITTER*.
          example: Pammy The Dog
        avatarUrl:
          type: string
          description: Link to the avatar used by user on the social network (if present). This field will be **null** if the social network type is *TWITTER*.
          example: https://scontent.xx.fbcdn.net/v/t1.0-1/c59.0.200.200/p300x500/10354686_10151114552801856_220324501106153455_n.jpg?oh=375abcd2474f9fe943242bfe9c313bc2&oe=590D5D25"
        owner:
          type: string
          description: Key representing who owns this profile the member or the organization the member is a part of.
          example: MEMBER
          enum:
          - MEMBER
          - ORGANIZATION
        ownerId:
          type: string
          description: The owner ID. Either a member ID or an organization ID.
          example: '2147516921'
        isReauthRequired:
          type: integer
          description: 1 indicates that this social profile is disconnected and needs to be reconnected, 0 shows the social profile is in a connected state.
          example: 0
    SocialProfileTeamsResponseEnvelope:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TeamId'
      description: The response data wrapper for a team.
    SocialProfileResponseEnvelope:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SocialProfile'
      description: The response data wrapper for a social profile.
    ErrorsResponseEnvelope:
      type: object
      properties:
        errors:
          type: array
          description: The errors response envelope.
          items:
            $ref: '#/components/schemas/Error'
    SocialProfilesResponseEnvelope:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SocialProfile'
      description: The response data wrapper for a social profile.
  parameters:
    bearerToken:
      in: header
      name: Authorization
      description: A bearer token string used for authentication
      required: true
      schema:
        type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.hootsuite.com/oauth2/auth
          tokenUrl: https://platform.hootsuite.com/oauth2/token
          scopes:
            offline: Request refresh tokens
            analytics:read: Request analytics API access
    Basic_Auth:
      type: http
      scheme: basic
x-provenance:
  generated: '2026-08-13'
  method: searched
  source: https://apidocs.hootsuite.com/docs/api/swagger.yaml
  note: First-party Hootsuite REST API contract. Discovered from the ReDoc loader at https://platform.hootsuite.com/docs/api/index.html (spec-url ./swagger.yaml) and confirmed as the canonical service-desc link in Hootsuite's RFC 9727 API catalog at https://www.hootsuite.com/.well-known/api-catalog. Published as Swagger 2.0; converted to OpenAPI 3.0 with swagger2openapi 7 for this working copy. The verbatim Swagger 2.0 source is kept at openapi/_original/hootsuite-rest-api-swagger.yaml.
  ownership: host platform.hootsuite.com, info.title "Hootsuite REST API", contact dev.support@hootsuite.com - the contract identifies itself as Hootsuite's.
