openapi: 3.2.0
info:
  description: '![Run in Postman](https://app.getpostman.com/run-collection/eeda0fcdf55ea26bd0ec#?env%5BHootsuite%5D=W3sidHlwZSI6InRleHQiLCJlbmFibGVkIjp0cnVlLCJrZXkiOiJ1cmwiLCJ2YWx1ZSI6Imh0dHBzOi8vcGxhdGZvcm0uaG9vdHN1aXRlLmNvbSJ9LHsidHlwZSI6InRleHQiLCJlbmFibGVkIjp0cnVlLCJrZXkiOiJhdXRob3JpemF0aW9uX3VybCIsInZhbHVlIjoiaHR0cHM6Ly9wbGF0Zm9ybS5ob290c3VpdGUuY29tL29hdXRoMi9hdXRoIn0seyJ0eXBlIjoidGV4dCIsImVuYWJsZWQiOnRydWUsImtleSI6InRva2VuX3VybCIsInZhbHVlIjoiaHR0cHM6Ly9wbGF0Zm9ybS5ob290c3VpdGUuY29tL29hdXRoMi90b2tlbiJ9LHs…'
  version: '1.0'
  title: Hootsuite REST Members API
  contact:
    email: dev.support@hootsuite.com
  license:
    name: Hootsuite Developer Terms and API License Agreement
    url: https://hootsuite.com/legal/dev-api-terms
servers:
- url: https://platform.hootsuite.com
security:
- OAuth2: []
tags:
- name: Members
paths:
  /v1/members/{memberId}:
    get:
      tags:
      - Members
      operationId: retrieveMember
      summary: Retrieve member
      description: Retrieves a member
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: memberId
        in: path
        description: The Member ID
        required: true
        example: 15240789
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/MemberResponseEnvelope'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
  /v1/members:
    post:
      tags:
      - Members
      operationId: createMember
      summary: Create member
      description: Creates a member in a Hootsuite organization. Requires organization manage members permission.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/CreateMemberRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/MemberResponseEnvelope'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
  /v1/members/{memberId}/organizations:
    get:
      tags:
      - Members
      operationId: retrieveMemberOrganizationsById
      summary: Retrieve member's organizations
      description: Retrieves the organizations that the member is in.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: memberId
        in: path
        description: The member ID
        required: true
        example: 15240789
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/MemberOrganizationsResponseEnvelope'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
components:
  schemas:
    Member:
      type: object
      required:
      - email
      - fullName
      properties:
        id:
          type: string
          description: The member ID.
          example: '15240789'
        email:
          type: string
          description: The member’s email.
          example: jsmith@test.com
        isActive:
          type: boolean
          description: A flag indicating if the member is active.
          example: true
        createdDate:
          type: string
          description: The date the member's account was created.
          example: 2013-05-29 13:27:24+00:00
        modifiedDate:
          type: string
          description: The date the member's account was last modified.
          example: 2013-05-29 13:27:24+00:00
        fullName:
          type: string
          description: The member’s name.
          example: Joe Smith
        companyName:
          type: string
          description: The member’s company name.
          example: Hootsuite
        bio:
          type: string
          description: The member’s bio.
          example: I am Joe Smith
        timezone:
          type: string
          description: The member’s time zone. Valid values are defined at http://php.net/manual/en/timezones.php.
          example: America/Vancouver
        language:
          type: string
          description: The member’s language.
          example: en
          enum:
          - en
          - ja
          - fr
          - it
          - es
          - de
          - pt_BR
          - pl
          - id
          - zh_CN
          - zh_HK
          - zh_TW
          - nl
          - ko
          - ar
          - ru
          - th
          - tr
    Error:
      type: object
      properties:
        code:
          type: number
          description: An error code indicating the type of error that occurred.
          example: 1234
        message:
          type: string
          description: A description of error.
          example: An error message
        id:
          type: string
          description: A unique error id for tracing purposes
          example: f7d32670-4e6a-48c0-a2a7-87803536a712
        resource:
          type: object
          description: A reference to the resource in error
          title: ResourceReference
          properties:
            type:
              type: string
              description: The resource type.
              example: socialProfile
            id:
              type: string
              description: The resource ID.
              example: '7534653235'
    CreateMemberRequest:
      type: object
      required:
      - email
      - fullName
      - organizationIds
      properties:
        organizationIds:
          type: array
          description: The organizations the member should be added to.
          items:
            type: integer
            example: '626731'
        email:
          type: string
          description: The member’s email.
          example: jsmith@test.com
        fullName:
          type: string
          description: The member’s name.
          example: Joe Smith
        companyName:
          type: string
          description: The member’s company name.
          example: Hootsuite
        bio:
          type: string
          description: The member’s bio.
          example: I am Joe Smith
        timezone:
          type: string
          description: The member's time zone. If not provided it will default to “America/Vancouver”. Valid values are defined at http://php.net/manual/en/timezones.php.
          example: America/Vancouver
        language:
          type: string
          description: The member’s language.
          example: en
          enum:
          - en
          - ja
          - fr
          - it
          - es
          - de
          - pt_BR
          - pl
          - id
          - zh_CN
          - zh_HK
          - zh_TW
          - nl
          - ko
          - ar
          - ru
          - th
          - tr
    MemberOrganizationsResponseEnvelope:
      type: object
      properties:
        data:
          type: array
          description: The data response envelope.
          items:
            $ref: '#/components/schemas/MemberOrganizations'
    ErrorsResponseEnvelope:
      type: object
      properties:
        errors:
          type: array
          description: The errors response envelope.
          items:
            $ref: '#/components/schemas/Error'
    MemberResponseEnvelope:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Member'
    MemberOrganizations:
      type: object
      properties:
        id:
          type: string
          description: The organization ID
          example: '626731'
  parameters:
    bearerToken:
      in: header
      name: Authorization
      description: A bearer token string used for authentication
      required: true
      schema:
        type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.hootsuite.com/oauth2/auth
          tokenUrl: https://platform.hootsuite.com/oauth2/token
          scopes:
            offline: Request refresh tokens
            analytics:read: Request analytics API access
    Basic_Auth:
      type: http
      scheme: basic
x-provenance:
  generated: '2026-08-13'
  method: searched
  source: https://apidocs.hootsuite.com/docs/api/swagger.yaml
  note: First-party Hootsuite REST API contract. Discovered from the ReDoc loader at https://platform.hootsuite.com/docs/api/index.html (spec-url ./swagger.yaml) and confirmed as the canonical service-desc link in Hootsuite's RFC 9727 API catalog at https://www.hootsuite.com/.well-known/api-catalog. Published as Swagger 2.0; converted to OpenAPI 3.0 with swagger2openapi 7 for this working copy. The verbatim Swagger 2.0 source is kept at openapi/_original/hootsuite-rest-api-swagger.yaml.
  ownership: host platform.hootsuite.com, info.title "Hootsuite REST API", contact dev.support@hootsuite.com - the contract identifies itself as Hootsuite's.
