openapi: 3.2.0
info:
  description: '![Run in Postman](https://app.getpostman.com/run-collection/eeda0fcdf55ea26bd0ec#?env%5BHootsuite%5D=W3sidHlwZSI6InRleHQiLCJlbmFibGVkIjp0cnVlLCJrZXkiOiJ1cmwiLCJ2YWx1ZSI6Imh0dHBzOi8vcGxhdGZvcm0uaG9vdHN1aXRlLmNvbSJ9LHsidHlwZSI6InRleHQiLCJlbmFibGVkIjp0cnVlLCJrZXkiOiJhdXRob3JpemF0aW9uX3VybCIsInZhbHVlIjoiaHR0cHM6Ly9wbGF0Zm9ybS5ob290c3VpdGUuY29tL29hdXRoMi9hdXRoIn0seyJ0eXBlIjoidGV4dCIsImVuYWJsZWQiOnRydWUsImtleSI6InRva2VuX3VybCIsInZhbHVlIjoiaHR0cHM6Ly9wbGF0Zm9ybS5ob290c3VpdGUuY29tL29hdXRoMi90b2tlbiJ9LHs…'
  version: '1.0'
  title: Hootsuite REST Organizations API
  contact:
    email: dev.support@hootsuite.com
  license:
    name: Hootsuite Developer Terms and API License Agreement
    url: https://hootsuite.com/legal/dev-api-terms
servers:
- url: https://platform.hootsuite.com
security:
- OAuth2: []
tags:
- name: Organizations
paths:
  /v1/organizations/{organizationId}/teams:
    get:
      tags:
      - Organizations
      operationId: getOrganizationTeams
      summary: Retrieve organization teams
      description: Retrieves a list of teams for a given organization.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: organizationId
        in: path
        description: The Organization ID
        required: true
        example: 626731
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/OrganizationTeamsResponseEnvelope'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
        '403':
          description: Forbidden (Insufficient permissions to view organization teams)
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
  /v1/organizations/{organizationId}/members:
    get:
      tags:
      - Organizations
      operationId: retrieveOrganizationMembers
      summary: Retrieve organization members
      description: Retrieves the members in an organization
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: organizationId
        in: path
        description: The Organization ID
        required: true
        example: 626731
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/OrganizationMembersResponseEnvelope'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
  /v1/organizations/{organizationId}/members/{memberId}:
    delete:
      tags:
      - Organizations
      operationId: removeMemberFromOrganization
      summary: Remove member from organization
      description: Removes a member from an organization.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: organizationId
        in: path
        description: The Organization ID
        required: true
        example: 626731
        schema:
          type: string
      - name: memberId
        in: path
        description: The Member ID
        required: true
        example: 15240789
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/EmptyDataEnvelope'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
  /v1/organizations/{organizationId}/members/{memberId}/permissions:
    get:
      tags:
      - Organizations
      operationId: retrieveOrganizationMemberOrganizationPermissions
      summary: Retrieve org member's organization permissions
      description: Retrieves an organization member’s permissions for the organization.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: organizationId
        in: path
        description: The Organization ID
        required: true
        example: 626731
        schema:
          type: string
      - name: memberId
        in: path
        description: The Member ID
        required: true
        example: 15240789
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/OrganizationMemberOrganizationPermissionsResponseEnvelope'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
  /v1/organizations/{organizationId}/members/{memberId}/teams:
    get:
      tags:
      - Organizations
      operationId: retrieveOrganizationMembersTeams
      summary: Retrieve org member's teams
      description: Retrieves the teams an organization member is in.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: organizationId
        in: path
        description: The Organization ID
        required: true
        example: 626731
        schema:
          type: string
      - name: memberId
        in: path
        description: The Member ID
        required: true
        example: 15240789
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/OrganizationMemberTeamsResponseEnvelope'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
  /v1/organizations/{organizationId}/members/{memberId}/socialProfiles:
    get:
      tags:
      - Organizations
      operationId: retrieveOrganizationMembersSocialProfiles
      summary: Retrieve org member’s social profiles
      description: Retrieves the organization's social profiles that an organization member can access.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: organizationId
        in: path
        description: The Organization ID
        required: true
        example: 626731
        schema:
          type: string
      - name: memberId
        in: path
        description: The Member ID
        required: true
        example: 15240789
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/OrganizationMemberSocialProfilesResponseEnvelope'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
  /v1/organizations/{organizationId}/members/{memberId}/socialProfiles/{socialProfileId}/permissions:
    get:
      tags:
      - Organizations
      operationId: retrieveOrganizationSocialProfilePermissions
      summary: Retrieve org member’s social profile permissions
      description: Retrieves an organization member’s permissions for a social profile.
      parameters:
      - $ref: '#/components/parameters/bearerToken'
      - name: organizationId
        in: path
        description: The Organization ID
        required: true
        example: 626731
        schema:
          type: string
      - name: memberId
        in: path
        description: The Member ID
        required: true
        example: 15240789
        schema:
          type: string
      - name: socialProfileId
        in: path
        description: The Social Profile ID
        required: true
        example: 115185509
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/OrganizationMemberSocialProfilePermissionsResponseEnvelope'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorsResponseEnvelope'
components:
  schemas:
    OrganizationTeamsResponseEnvelope:
      type: object
      properties:
        data:
          type: array
          description: The data response envelope.
          items:
            $ref: '#/components/schemas/Team'
    Team:
      type: object
      properties:
        id:
          type: string
          description: The team ID.
          example: '359493'
        name:
          type: string
          description: The team name.
          example: North America Support Team
        logoUrl:
          type: string
          description: The team's logo URL.
          example: http://ow.ly/i/logo.png
        createdDate:
          type: string
          description: The date the team was created.
          example: 2016-01-14 16:27:40+00:00
        createdByMember:
          type: object
          description: The member who created the team.
          title: MemberReference
          properties:
            id:
              type: string
              description: The member ID.
              example: '13892119232'
        modifiedDate:
          type: string
          description: The date the team was last modified.
          example: 2016-01-14 16:27:40+00:00
        modifiedByMember:
          type: object
          description: The member who last modified the team.
          title: MemberReference
          properties:
            id:
              type: string
              description: The member ID.
              example: '13892119232'
    OrganizationMemberSocialProfilePermissionsResponseEnvelope:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SocialProfilePermissions'
    SocialProfilePermissions:
      type: object
      properties:
        permissions:
          type: array
          description: The organization member's social profile permissions.
          items:
            type: string
            description: The permission.
            example: BASIC_USAGE
        permissionPreset:
          type: string
          description: The permission preset.
          example: EDITOR
    Error:
      type: object
      properties:
        code:
          type: number
          description: An error code indicating the type of error that occurred.
          example: 1234
        message:
          type: string
          description: A description of error.
          example: An error message
        id:
          type: string
          description: A unique error id for tracing purposes
          example: f7d32670-4e6a-48c0-a2a7-87803536a712
        resource:
          type: object
          description: A reference to the resource in error
          title: ResourceReference
          properties:
            type:
              type: string
              description: The resource type.
              example: socialProfile
            id:
              type: string
              description: The resource ID.
              example: '7534653235'
    MemberSocialProfiles:
      type: object
      properties:
        id:
          type: string
          description: The social profile ID.
          example: '115185509'
    OrganizationMemberTeamsResponseEnvelope:
      type: object
      properties:
        data:
          type: array
          description: The data response envelope.
          items:
            $ref: '#/components/schemas/Teams'
    OrganizationMemberOrganizationPermissionsResponseEnvelope:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/OrganizationPermissions'
    OrganizationMemberSocialProfilesResponseEnvelope:
      type: object
      properties:
        data:
          type: array
          description: The data response envelope.
          items:
            $ref: '#/components/schemas/MemberSocialProfiles'
    OrganizationPermissions:
      type: object
      properties:
        permissions:
          type: array
          description: The organization member's organization permissions.
          items:
            type: string
            description: The permission.
            example: ORG_MANAGE_MEMBER
        permissionPreset:
          type: string
          description: The permission preset.
          example: CUSTOM
    TeamMember:
      type: object
      properties:
        id:
          type: string
          description: The member ID.
          example: '15240789'
    OrganizationMembersResponseEnvelope:
      type: object
      properties:
        data:
          type: array
          description: The data response envelope.
          items:
            $ref: '#/components/schemas/TeamMember'
    ErrorsResponseEnvelope:
      type: object
      properties:
        errors:
          type: array
          description: The errors response envelope.
          items:
            $ref: '#/components/schemas/Error'
    Teams:
      type: object
      properties:
        id:
          type: string
          description: The team ID.
          example: '359493'
    EmptyDataEnvelope:
      type: object
      properties:
        data:
          description: The data response envelope.
          type: object
  parameters:
    bearerToken:
      in: header
      name: Authorization
      description: A bearer token string used for authentication
      required: true
      schema:
        type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.hootsuite.com/oauth2/auth
          tokenUrl: https://platform.hootsuite.com/oauth2/token
          scopes:
            offline: Request refresh tokens
            analytics:read: Request analytics API access
    Basic_Auth:
      type: http
      scheme: basic
x-provenance:
  generated: '2026-08-13'
  method: searched
  source: https://apidocs.hootsuite.com/docs/api/swagger.yaml
  note: First-party Hootsuite REST API contract. Discovered from the ReDoc loader at https://platform.hootsuite.com/docs/api/index.html (spec-url ./swagger.yaml) and confirmed as the canonical service-desc link in Hootsuite's RFC 9727 API catalog at https://www.hootsuite.com/.well-known/api-catalog. Published as Swagger 2.0; converted to OpenAPI 3.0 with swagger2openapi 7 for this working copy. The verbatim Swagger 2.0 source is kept at openapi/_original/hootsuite-rest-api-swagger.yaml.
  ownership: host platform.hootsuite.com, info.title "Hootsuite REST API", contact dev.support@hootsuite.com - the contract identifies itself as Hootsuite's.
